/* tema do css */
:root {
    --primary: #3F51B5;
    --bg: #222222;
    --text: #ffffff;
}

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

body {
    font-family: sans-serif;
    background-color: var(--bg);
    color: var(--text);
}
